* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529; 
}

div {
    display: block;
}

.container-muse {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-image: url(../img/close-up-image-mans-hands-wristwatch-typing-laptop.jpg);
        background-color: rgba(13, 20, 36, 0.412);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
}

.muse-login {
    width: 430px;
    background:rgba(255, 255, 255, 0.131);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 20px 15px rgba(45, 45, 46, 0.179);
    padding-top: 80px;
    padding-bottom: 30px;
    padding-right: 55px;
    padding-left: 55px;
}

.loginform {
    width: 100%;
}

.login-title {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0c2e8a;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
}

.muse10 {
    width: 100%;
    position: relative;
    background-color: rgba(15, 15, 15, 0.85);
    border-radius: 20px;
    margin-bottom: 20px;
}

.validate-input {
    position: relative;
}

.muse10 {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #000000;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 62px;
    background: transparent;
    padding: 0 20px 0 23px;
}

input {
    outline: none;
    border: none;
    overflow: visible;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    display: inline-block;
    cursor: text;
    padding: 1px 2px;
    border-width: 0.5px;
    border-style: inset;
    margin: 0rem;
    border-image: initial;
    font-weight: bold;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    color: internal-light-dark(black, white);
    box-shadow:0 0px 15px 0px rgba(72, 72, 73, 0.398);
}

::placeholder{
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 600;
}

.focus-muse10 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 20px;
}

.muse12 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 25px;
}

.muse12 {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #0c2e8a;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 0 20px 0 23px;
}

.container-muse10-button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.muse10-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    min-width: 150px;
    height: 50px;
    background-color: #0c2e8a;
    border-radius: 25px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.4s;
    box-shadow: 0 10px 15px 0px #35467b82;
}

button {
    outline: none;
    border: none;
    background: transparent;
    margin-bottom: 40px;
    margin-top: 40px;
}

button:focus {
    outline: none;
}

.loginP {
    color: #fff;
    text-decoration: none;
}

.loginP:hover {
    color: #fff;
}

.forgotpassword {
    padding-left: 30px;
    font-size: 17px;
    font-weight: 300;
    color: black;
    font-family: "Raleway", sans-serif;
}

.click2 {
    color: #0c2e8a;
    text-decoration: none;
}

.forgotpassword a {
    font-size: 17px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.text1 {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 800;
    color: #0c2e8a;
    font-family: "Raleway", sans-serif;
    line-height: 1.4;
}

.backhome {
    margin-top: -50px;
    padding-left: -40px;
}

.backhome a i {
    color: black;
    font-size: 17px;
}

span {
    color: black;
    font-size: 17px;
    font-weight: 800;
}

.backhome a {
    text-decoration: none;
}